html{
  font-size: 60%;
}

body {
  margin: 0;
  font-family: 'Courier-Oblique';
  /* font-family: 'San Francisco'; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2.4rem;
  background-color: rgb(179, 197, 245);
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
/* @font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
} */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


